<!-- wp:template-part {"slug":"header"} /-->


<div class="pt-[calc(var(--headerHeight))] mt-[0]!"></div>
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="min-h-[--contentHeight] mt-[0]!">
	<!-- <div class="px-[var(--rails)] mt-[0]! pt-[var(--rails)]"> -->
		<div class="alignfull content-set mt-[calc(var(--rails)*2)]! mb-[var(--rails)]">
		<!-- wp:query-title {"type":"archive","level":"1","className":"text-center w-full archive"} /-->
		<!-- wp:term-description /-->
		</div>
	<!-- </div> -->
	<div class="alignfull p-[var(--rails)] mt-[0]!">
		<!-- wp:pattern {"slug":"cwtc3/template-query-loop"} /-->
	</div>
</main>

<!-- wp:template-part {"slug":"footer"} /-->
