<!-- wp:template-part {"slug":"header"} /-->

<div class="pt-[calc(var(--headerHeight))] mt-[0]!"></div>
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="min-h-[--contentHeight] mt-[0]!">
	<div class="content-set text-center my-[calc(var(--rails)*2)]!">
		<!-- wp:post-title {"level":"1"} /-->
	</div>
	<!-- wp:group {"tagName":"div","layout":{"type":"constrained"}} -->
	<div>
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
