<!-- wp:template-part {"slug":"header"} /-->

<div class="pt-[calc(var(--headerHeight))] mt-[0]!"></div>
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="min-h-[--contentHeight] mt-[0]!">
	<!-- <div class="alignfull px-[var(--rails)] mt-[0]! pt-[var(--rails)]"> -->
		<div class="content-set mt-[calc(var(--rails)*2)]! mb-[var(--rails)]">
		<!-- wp:pattern {"slug":"cwtc3/search-title"} /-->
		</div>
	<!-- </div> -->
	<div class="alignfull p-[var(--rails)] mt-[0]!">
		<!-- wp:pattern {"slug":"cwtc3/template-query-loop"} /-->
	</div>
</main>

<!-- wp:template-part {"slug":"footer"} /-->
